.page-link{
    padding: 5px;
    font-size:20px;
    color:gray;
    text-decoration: underline;
    border: none;
    }
    .pagination .page-item .page-link, .pagination .page-item.active .page-link {
    background-color: white !important; /* Active background color */
    color: black !important; /* Active text color */
    border: none !important; /* Remove border */
    box-shadow: none !important; /* Remove box-shadow */
    
}
.pagination .page-link:focus {

    box-shadow: none; /* Remove focus shadow */
 }
.page-item:hover{
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
    
 }
